Alcance My workflow.json
{
  "name": "My workflow restaurado",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente médico de seguros.\n\nPaciente:\n{{$json.nombre}}\n\nPlan:\n{{$json.plan}}\n\nCobertura:\n{{$json.cobertura}}%\n\nCopago:\n${{$json.copago}}\n\nCiudad:\n{{$json.ciudad}}\n\nAnaliza el síntoma del usuario y recomienda especialidad médica y cruzando datos con su plan de seguro, le indica exactamente cuánto será su copago y qué hospital de la red le conviene más económicamente.\n\nresponde usando formato HTML compatible con Telegram.\n\nUsa únicamente:\n<b>, <i>, <u> y saltos de línea.\nNO uses markdown.\n\nResponde máximo en 15 líneas.\nSé claro, profesional y breve.\n\nSíntoma:\n{{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -112,
        -192
      ],
      "id": "84ec0f62-cdd4-48a8-b389-2739cd5f5880",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        -32
      ],
      "id": "b5d926e9-6070-4b87-9292-95908204661d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zpzGSgV9UgdfCku7",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json.text}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -192
      ],
      "id": "dedd8540-f789-4bcf-b910-bd356250ab84",
      "name": "Send a text message",
      "webhookId": "e0bea935-e6b8-489a-9d07-7d8ffa154c94",
      "credentials": {
        "telegramApi": {
          "id": "CMkjlixNaIXUyzGr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        80
      ],
      "id": "9b1c36e7-f97e-44f8-81d5-7d3d969fe7fd",
      "name": "Telegram Trigger",
      "webhookId": "901240f9-fd7b-4ee3-bc76-2287458fcd1b",
      "credentials": {
        "telegramApi": {
          "id": "CMkjlixNaIXUyzGr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "587bf2e6-3710-4961-8ae1-e8c2693194a6",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        32
      ],
      "id": "59b8c033-280e-4a01-8d62-de8f3e06809f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -480,
        32
      ],
      "id": "cd35e16c-1afa-4721-a1e8-0a4ef74e158f",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yAA15jCwbUIHTsLr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aaa7f5cd-b255-4a7e-bd65-2b5c98629101",
              "leftValue": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        160
      ],
      "id": "7144e396-8de7-4756-9337-047eadcfed43",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Bienvenido 👋  Por favor ingresa tu número de póliza. Ejemplo: POL001",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        64
      ],
      "id": "7413e8b8-e3af-4773-a165-b32824df57ed",
      "name": "Send a text message2",
      "webhookId": "2cc7e1b1-4e1a-4214-aa96-5dcebe509139",
      "credentials": {
        "telegramApi": {
          "id": "CMkjlixNaIXUyzGr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "policy_number",
              "condition": "eq",
              "keyValue": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        416
      ],
      "id": "6fd650d7-f2c9-40d4-9ba5-7f0c02a8871c",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "yAA15jCwbUIHTsLr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "✅ Registro completado correctamente.  Ya puedes escribir tus síntomas médicos.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        272
      ],
      "id": "5f01a08b-a20e-4c89-99dc-2e222ad1f031",
      "name": "Send a text message3",
      "webhookId": "d19f6ed2-b714-4aac-9818-a00a4348c9f5",
      "credentials": {
        "telegramApi": {
          "id": "CMkjlixNaIXUyzGr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "63e3df6b-f586-45df-9162-f25692add05d",
              "leftValue": "={{$json.message.from.is_bot}}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        64
      ],
      "id": "508c2e17-0f6d-47f7-89d0-b2ae640ec9b3",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d91a90e-4783-47c3-8701-e10f056ffc35",
              "leftValue": "={{$json.policy_number}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        416
      ],
      "id": "0259aee4-b96c-47b7-9da8-f8c5676d68c2",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "policy_number",
              "condition": "eq",
              "keyValue": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        272
      ],
      "id": "5a3850e4-385b-4919-b9ef-e98754c7a448",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "yAA15jCwbUIHTsLr",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Bienvenido/a👋Por favor ingresa un número de póliza válido. Ejemplo: POL001",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        512
      ],
      "id": "8e94687d-f345-4449-a216-b99765ed6fdf",
      "name": "Send a text message1",
      "webhookId": "6a6a1aba-f13a-443b-bd41-f6ea87bba0a2",
      "credentials": {
        "telegramApi": {
          "id": "CMkjlixNaIXUyzGr",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b258386d-a5ad-4a11-8d22-1ada7fa701cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e68fe6de9adc3def234917d68535f806797ecc5361dc3508620c9e088bd52857"
  },
  "id": "UsmHXZjrMOmvLHJu",
  "tags": []
}